.bg-gradient-primary {
  /*background-image: linear-gradient(180deg,#333333 10%,#010101);/* menu preto*/
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe); /* menu azul*/
  background-size: cover;

}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link{
  border-left: 4px solid transparent;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
  background: linear-gradient(90deg, rgb(78,115,223), rgb(118,149,239));
  border-radius: 2px;
  border-left: 4px solid #d8f3fd;;
  font-weight: normal;
}

.sidebar-dark #sidebarToggle:hover {
  background-color: hsla(0,0%,100%,.25);
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

.sidebar #sidebarToggle:hover {
  text-decoration: none;
}

.sidebar-dark #sidebarToggle {
  background-color: hsla(0,0%,100%,.2);
}



.sidebar .nav-item .collapse .collapse-inner {
  border-radius: .35rem;
  box-shadow: 0 .15rem 1.75rem 0 rgba(7,27,222,0.15);
}

.sidebar .nav-item {
  margin-top: 5px;
}

.sidebar.toggled span, .sidebar.toggled i  {
  margin-left: -8px;
}

@media (min-width: 768px) {
  .sidebar span {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar span, .sidebar i {
    margin-left: -8px;
  }
}

.navbar-brand {
  margin-left: 10px;
}



